(default) {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }
}

{
  acme_dns cloudflare {$CF_API_TOKEN}

  import default
}

{$DOMAIN} {
    reverse_proxy localhost:8088
}

pihole.{$DOMAIN} {
  reverse_proxy localhost:8080
}

prometheus.{$DOMAIN} {
  reverse_proxy localhost:9090
}

grafana.{$DOMAIN} {
  reverse_proxy localhost:6000
}

matrix.{$DOMAIN} {
  route /_matrix/client/*/voip/turnServer {
    reverse_proxy http://localhost:4499
  }

  reverse_proxy /_matrix/* localhost:8008
  reverse_proxy /_synapse/client/* localhost:8008
}

notify.{$DOMAIN} {
  reverse_proxy localhost:8044

  # Redirect HTTP to HTTPS, but only for GET topic addresses, since we want
  # it to work with curl without the annoying https:// prefix
  @httpget {
      protocol http
      method GET
      path_regexp ^/([-_a-z0-9]{0,64}$|docs/|static/)
  }
  redir @httpget https://{host}{uri}
}

sync.{$DOMAIN} {
  reverse_proxy localhost:8384 {
    header_up Host {upstream_hostport}
  }
}

photoprism.{$DOMAIN} {
  reverse_proxy localhost:2342
}

photos.{$DOMAIN} {
  reverse_proxy localhost:2283 
}

dawarich.{$DOMAIN} {
  reverse_proxy localhost:3344
}

chatai.{$DOMAIN} {
  reverse_proxy localhost:3000
}

litellm.{$DOMAIN} {
  reverse_proxy localhost:4000
}

aiostreams.{$DOMAIN} {
  reverse_proxy localhost:3030
}

yamtrack.{$DOMAIN} {
  reverse_proxy localhost:8000
}

vert.{$DOMAIN} {
  reverse_proxy localhost:9000
}

vw.{$DOMAIN} {
  reverse_proxy localhost:9999 {
    header_up X-Real-IP {remote_host}
  }
}

lw.{$DOMAIN} {
  reverse_proxy localhost:3333
}

authentik.{$DOMAIN} {
  reverse_proxy localhost:9080
}

status.{$DOMAIN} {
  reverse_proxy localhost:3001
}

mediaflow-proxy.{$DOMAIN} {
  reverse_proxy localhost:18888
}

webdav.{$DOMAIN} {
  basic_auth * {
    yoh268 $2y$05$aGDdyUrV6sZK2jJXYYMbq.2A2OctRr0KwOfTt2B8jsvBIbn57/UaG
  }

  root * /webdav
  
  @get method GET
  route {
    file_server @get {
      hide .git .gitignore .stfolder .stversions
      browse
    }

    webdav
  }
}
