(default) {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }
}

(tinyauth_forwarder) {
  forward_auth tinyauth:3000 {
    uri /api/auth/caddy
  }
}

{
  acme_dns cloudflare {$CF_API_TOKEN}

  import default
}

{$DOMAIN} {
    reverse_proxy homer:8080
}

auth.{$DOMAIN} {
  reverse_proxy tinyauth:3000
}

pocketid.{$DOMAIN} {
  reverse_proxy pocket-id:1411
}

pihole.{$DOMAIN} {
  reverse_proxy host.docker.internal:8080
  import tinyauth_forwarder *
}

couchdb.{$DOMAIN} {
  reverse_proxy couchdb:5984
}

prometheus.{$DOMAIN} {
  reverse_proxy prometheus:9090
}

grafana.{$DOMAIN} {
  reverse_proxy grafana:3000
}

matrix.{$DOMAIN} {
  route /_matrix/client/*/voip/turnServer {
    reverse_proxy http://matrix-turnify:4499
  }

  reverse_proxy /_matrix/* synapse:8008
  reverse_proxy /_synapse/client/* synapse:8008
}

notify.{$DOMAIN}, http://notify.{$DOMAIN} {
  reverse_proxy ntfy:80

  # Redirect HTTP to HTTPS, but only for GET topic addresses, since we want
  # it to work with curl without the annoying https:// prefix
  @httpget {
      protocol http
      method GET
      path_regexp ^/([-_a-z0-9]{0,64}$|docs/|static/)
  }
  redir @httpget https://{host}{uri}
}

sync.{$DOMAIN} {
  reverse_proxy syncthing:8384 {
    header_up Host {upstream_hostport}
  }
}

vikunja.{$DOMAIN} {
  reverse_proxy vikunja:3456 
}

photos.{$DOMAIN} {
  reverse_proxy immich-server:2283 
}

budget.{$DOMAIN} {
  reverse_proxy actual-budget:5006 
}

folio.{$DOMAIN} {
  reverse_proxy ghostfolio:3333
}

dawarich.{$DOMAIN} {
  reverse_proxy dawarich-app:3000
}

chatai.{$DOMAIN} {
  reverse_proxy open-webui:8080
}

litellm.{$DOMAIN} {
  reverse_proxy litellm:4000
}

aiostreams.{$DOMAIN} {
  reverse_proxy aiostreams:3000
}

yamtrack.{$DOMAIN} {
  reverse_proxy yamtrack:8000
}

vert.{$DOMAIN} {
  reverse_proxy vert:80
}

vw.{$DOMAIN} {
  reverse_proxy vaultwarden:80 {
    header_up X-Real-IP {remote_host}
  }
}

karakeep.{$DOMAIN} {
  reverse_proxy karakeep:3000
}

status.{$DOMAIN} {
  reverse_proxy uptime-kuma:3001
}

mediaflow-proxy.{$DOMAIN} {
  reverse_proxy mediaflow-proxy:8888
}

webdav.{$DOMAIN} {
  basic_auth * {
    yoh268 $2y$05$aGDdyUrV6sZK2jJXYYMbq.2A2OctRr0KwOfTt2B8jsvBIbn57/UaG
  }

  root * /webdav
  
  @get method GET
  route {
    file_server @get {
      hide .git .gitignore .stfolder .stversions
      browse
    }

    webdav
  }
}
