include:
  - pihole-compose.yaml
  - ntfy-compose.yaml
  - syncthing-compose.yaml
  - immich-compose.yaml
  - vaultwarden-compose.yaml
  - linkwarden-compose.yaml
  - matrix-compose.yaml
  - litellm-compose.yaml
  - open-webui-compose.yaml
  - aiostreams-compose.yaml
  - vert-compose.yaml
  - dawarich-compose.yaml
  - yamtrack-compose.yaml
  - postiz-compose.yaml

services:
  caddy:
    build:
      context: .
      dockerfile: caddy.Dockerfile
    container_name: caddy
    restart: always
    network_mode: "host"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy-config:/config
      - ./caddy-data:/data
      - ./webdav:/webdav
    env_file:
      - .env
    environment:
      PUID: 1000
      PGID: 1000
      EMAIL: emiliogozo@proton.me
      LOG_FILE: /data/access.log

  homer:
    image: b4bz/homer
    container_name: homer
    restart: unless-stopped
    ports:
      - 8088:8080
    networks:
      - yohnet
    volumes:
      - ./homer:/www/assets
    env_file:
      - .env

  # mariadb:
  #   restart: unless-stopped
  #   image: mariadb:11
  #   container_name: mariadb
  #   networks:
  #     - yohnet
  #   security_opt:
  #     - seccomp:unconfined
  #     - apparmor:unconfined
  #   command: --innodb-buffer-pool-size=1G >
  #     --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4
  #     --collation-server=utf8mb4_unicode_ci --max-connections=512
  #     --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
  #   volumes:
  #     - "./mariadb:/var/lib/mysql"
  #   env_file:
  #     - .env
  #   environment:
  #     MARIADB_AUTO_UPGRADE: "1"
  #     MARIADB_INITDB_SKIP_TZINFO: "1"

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - yohnet

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: always
    networks:
      - yohnet
    ports:
      - 3001:3001
    env_file:
      - .env
    volumes:
      - ./uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  yohnet:
