include:
  - auth-compose.yaml
  - pihole-compose.yaml
  - ntfy-compose.yaml
  - monitor-compose.yaml
  - syncthing-compose.yaml
  - actualbudget-compose.yaml
  - immich-compose.yaml
  - vaultwarden-compose.yaml
  - karakeep-compose.yaml
  - matrix-compose.yaml
  - litellm-compose.yaml
  - open-webui-compose.yaml
  - aiostreams-compose.yaml
  - vert-compose.yaml
  - dawarich-compose.yaml
  - yamtrack-compose.yaml

services:
  caddy:
    build:
      context: .
      dockerfile: caddy.Dockerfile
    container_name: caddy
    restart: always
    networks:
      - yohnet
    extra_hosts:
      - host.docker.internal:10.0.0.1
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy-config:/config
      - ./caddy-data:/data
      - ./webdav:/webdav
    env_file:
      - .env
    environment:
      PUID: 1000
      PGID: 1000
      EMAIL: emiliogozo@proton.me
      LOG_FILE: /data/access.log

  homer:
    image: b4bz/homer
    container_name: homer
    restart: unless-stopped
    networks:
      - yohnet
    volumes:
      - ./homer:/www/assets
    env_file:
      - .env

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - yohnet

networks:
  yohnet:
    external: true
