x-common-environment: &common-env
  TZ:

include:
  - pihole-compose.yaml
  - gotify-compose.yaml
  - syncthing-compose.yaml
  - photoprism-compose.yaml
  - immich-compose.yaml
  - vaultwarden-compose.yaml
  - linkwarden-compose.yaml
  - litellm-compose.yaml
  - open-webui-compose.yaml
  - aiostreams-compose.yaml
  - vert-compose.yaml
  - dawarich-compose.yaml
  - yamtrack-compose.yaml

services:
  caddy:
    build:
      context: .
      dockerfile: caddy.Dockerfile
    container_name: caddy
    restart: always
    networks:
      - yohnet
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy-config:/config
      - ./caddy-data:/data
      - ./webdav:/webdav
    environment:
      <<: *common-env
      PUID: 1000
      PGID: 1000
      CADDY_INGRESS_NETWORKS: yohnet
      EMAIL: emiliogozo@proton.me
      LOG_FILE: /data/access.log
      DOMAIN:
      CF_API_TOKEN:

  homer:
    image: b4bz/homer
    container_name: homer
    restart: unless-stopped
    networks:
      - yohnet
    volumes:
      - ./homer:/www/assets
    environment:
      <<: *common-env

  mariadb:
    restart: unless-stopped
    image: mariadb:11
    container_name: mariadb
    networks:
      - yohnet
    ports:
      - 3306:3306
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: --innodb-buffer-pool-size=1G >
      --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci --max-connections=512
      --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
    volumes:
      - "./mariadb:/var/lib/mysql"
    environment:
      <<: *common-env
      MARIADB_AUTO_UPGRADE: "1"
      MARIADB_INITDB_SKIP_TZINFO: "1"
      MARIADB_DATABASE:
      MARIADB_USER:
      MARIADB_PASSWORD:
      MARIADB_ROOT_PASSWORD:

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      <<: *common-env
      POSTGRES_DB:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - yohnet

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: always
    networks:
      - yohnet
    ports:
      - 3001:3001
    environment:
      <<: *common-env
    volumes:
      - ./uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  yohnet:
